body {
    position: relative;
}

.review-module-container {
    display: flex;
    justify-content: space-around;
    max-width:650px;
    margin: 0 auto;
}

.review-module-column {
    width: 50%;
    flex-basis: 50%;
}

.negative-review-link:hover .under-image {
    color: #ef4846 !important;
}

.positive-review-link:hover .under-image {
    color: #39b54a !important;
}

.review-image {
    display: block;
    width: 130px;
    margin:0 auto;
}

.review-module-column .under-image {
    margin-top: 10px;
    text-align:center;
    display: block;
    color: #8a8a8a !important;
    font-weight: 700;
}

.review-lightbox {
    display: none;
}

.featherlight .featherlight-content {
    width: 70%;
    max-width: 945px;
    border-radius: 5px;
}

.before-logos, .before-form {
    color: rgb( 138, 138, 138 );
    width: 70%;
    margin: 20px auto;
}

.before-form {
    margin-top: 40px;
}

.featherlight .featherlight-close-icon.featherlight-close {
    background-color: rgb( 238, 238, 238 );
    color: rgb( 190, 190, 190 );
}

.logos {
    display: flex;
    width: 80%;
    margin: 40px auto;
    justify-content: space-around;
}

.review-popup-logo {
    position: relative;
    overflow:hidden;
    background: #f4f4f4;
    border-radius: 5px;
}

.review-popup-logo:hover {
    background: #ebebeb;
}

.review-popup-logo a {
    display:flex;
    width:100%;
    height: 100%;
    text-align: center;
    align-items: center;
}

.review-popup-logo img {
    max-width: 80%;
    background: inherit;
    height: auto;
    width: auto;
    margin: 0 auto;
    display: block;
}

.large-logo {
    width: 45%;
    flex-basis:45%;
}

.small-logo {
    width: 30%;
    flex-basis: 30%;
    height: 80px;
}

.small-logo img {
    max-height: 60px;
}

.popup-form {
    width: 70%;
    display: block;
    margin: 40px auto;
}

.popup-form .gform_wrapper .gform_body input.medium, .popup-form ._form-content input {
    display: block;
    width: 100%;
}

.popup-form .gform_wrapper .top_label .gfield_label {
    display: none;
}

.popup-form .gform_wrapper .gfield_required {
    display: none;
}

.popup-form .gform_wrapper .gform_footer input.button, .popup-form ._form-content ._button-wrapper {
    text-align: center;
}

.popup-form .gform_wrapper .gform_footer input.button, .popup-form ._form-content ._submit {
    display: block;
    margin: 20px auto;
    min-width: 60%;
    padding: 12px 40px;
    display: inline-block;
    font-size: 20px;
    font-family: Gotham,sans-serif;
    border-radius: 0;
    font-weight: 400;
    line-height: 1.5;
    color: #FFF !important;
    background: #085F39;
    box-shadow: none;
}

.popup-form .gform_wrapper .gform_footer input.button, .popup-form ._form-content ._submit:hover {
    background-color: #064D2E;
}

.popup-form ._form-content ._form_element {
    margin: 10px 0;
}
.popup-form ._form-content ._form_element input {
    margin: 5px 0;
}

.instruction_popup {
    display: none;
}

.instruct_header {
    border-bottom: 1px solid #f4f4f4;
    display: block;
    position: relative;
}

.instruct_header img {
    width: auto;
    max-width: 300px;
    max-width: 80%;
    height: auto;
    margin:20px auto;
    display: block;
}

.instruct_body {
    color: rgb( 138, 138, 138 );
    width: 80%;
    margin: 20px auto;
}

.instruct_button {
    display: block;
    margin: 40px auto;
    max-width: 600px;
    width:60%;
    border-radius: 5px;
    transition: all 0.2s ease-out;
    background-color: #51b8f2;
    text-transform: uppercase;
    padding: 18px 15px !important;
    color: #ffffff;
    text-align:center;
    font-weight: 700;
}

.instruct_button:hover, .instruct_button:focus {
    background: #54667a;
    color: white;
    text-decoration: none;
    outline: none;
}

@media screen and ( max-width:680px ) {
    .review-module-container {
        display: block;
        width: 100%;
        overflow: hidden;
    }
    
    .review-module-column {
        margin-bottom: 40px;
        margin: 20px auto;
        float:none !important;
    }
    
    .featherlight .featherlight-content {
        width: 95%;
    }
    
    .small-logo {
        height:40px;
    }
}

/*-------------------------------
	POPUP.CSS
-------------------------------*/

.popup_back {
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9997;
}

.popup_cont {
    position: absolute;
    z-index: 9999;
    max-height: -webkit-calc(100vh - 100px);
    max-height: calc(100vh - 100px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.preloader {
    z-index: 9998;
}

/*---------------------
	EDIT BELOW
*/

.popup_close {
    color: #888;
    cursor: pointer;
    position: absolute;
    padding: 5px;
    right: 5px;
    top: 0;
}

.popup_close:hover {
    color: #111;
}

.popup_back {
    cursor: pointer;
    background-color: #444;
}

div.popup {
    background: #fff;
    padding: 25px;
    box-shadow: 0 3px 10px #444;
    border-radius: 10px;
}

div.popup_cont {
    top: 35px;
    margin: 0 auto;
    width: 90%;
    max-width: 1000px;
    left: 5% !important;
    right: 5% !important;
}

.preloader {
    left: 50%;
    margin: -10px 0 0 -25px;
    position: fixed;
    top: 50%;
}
@media(max-width: 767px){
    .before-logos, .before-form{
        width: 90%;
    }
}
@media(max-width: 600px){
    div.popup{
        padding: 20px;
    }
    .before-logos, .before-form{
        width: 100%;
        margin: 25px 0 20px;
    }
    div.popup div.wpforms-container-full .wpforms-form input[type=date], div.wpforms-container-full .wpforms-form input[type=datetime], div.popup div.wpforms-container-full .wpforms-form input[type=datetime-local], div.wpforms-container-full .wpforms-form input[type=email], div.popup div.wpforms-container-full .wpforms-form input[type=month], div.wpforms-container-full .wpforms-form input[type=number], div.popup div.wpforms-container-full .wpforms-form input[type=password], div.wpforms-container-full .wpforms-form input[type=range], div.popup div.wpforms-container-full .wpforms-form input[type=search], div.wpforms-container-full .wpforms-form input[type=tel], div.popup div.wpforms-container-full .wpforms-form input[type=text], div.popup div.wpforms-container-full .wpforms-form input[type=time], div.wpforms-container-full .wpforms-form input[type=url], div.popup div.wpforms-container-full .wpforms-form input[type=week], div.wpforms-container-full .wpforms-form select{
        height: 32px;
        font-size: 14px;
        padding: 5px 10px;
    }
    div.popup div.wpforms-container-full .wpforms-form textarea{
        height: 80px;
        font-size: 14px;
        padding: 5px 10px;
    }
    
}
